<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of stores</title>
</head>
<body>
<div>
    <table>
        <tr th:each="store:${stores}">

            <a th:href="@{/allstores/{id}(id=${store.getId()})}"
               th:text="${store.getName()}">store</a>
            <hr color="lightblue" size="10">

        </tr>
    </table>
</div>
<form th:action="@{/allstores/new}">
    <input type="submit" value="Create new store"/>
    <br/>
</form>

</body>
</html>

